@font-face {
  font-family: Poppins-Light;
  src: url(..//fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(..//fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(..//fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Thin;
  src: url(..//fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(..//fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(..//fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url(..//fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(..//fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(..//fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: RobotoSlab-Bold;
  src: url(..//fonts/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: Pandora;
  src: url(..//fonts/Pandora\ Regular.ttf);
}
@font-face {
  font-family: Chocolates-Bold;
  src: url(..//fonts/TT\ Chocolates\ Bold.otf);
}
@font-face {
  font-family: amsterdam-two;
  src: url(..//fonts/amsterdam-two-ttf.ttf);
}
